html {
  background-color: rgb(236, 169, 203);
  color: rgb(92, 53, 124);
}

a {
  color: rgb(255, 0, 140);
}

a.active,
li.lavender-webring-curr-site > a {
  color: rgb(195, 0, 255);
}

#site_header {
  /* padding-bottom: 0px; */
  border-bottom: 1px solid rgb(255, 0, 140);
  border-spacing: inherit;
  text-align: center;
  position: relative;
  top: -20px;
  height: 350px;
}

footer {
  padding-top: 5px;
}

footer,
/* #site_header{
  text-align: center;
  position: relative;
  top: -75px;
} */

#header_name{
    position: relative;
    top: -100px;
}

#banner{
    position: relative;
    top: -100px;
    margin-left: auto;
    margin-right: auto;
    /* left: 20px; */
    /* background-color: white; */
    /* width: 500px; */
    /* bottom: 0;
    right: 0; */
}

#content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

#intro_content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 2em; */
  /* padding-bottom: 2em; */
}

.byline {
  font-size: 0.75rem;
}

time,
.author {
  font-weight: bold;
}

.article_header,
.page_header {
  padding-bottom: 4px;
  border-bottom: 1px dotted rgb(219, 103, 167);
}

.article_header > h1,
.page_header > h1 {
  margin: 0.1rem;
}

img {
  max-width: 100%;
  margin-left: -100px;
  margin-right: inherit;
  margin-top: 20px;
  /* padding-top: 2em; */
  /* padding-bottom: 2em; */
}

.tag {
  font-weight: bold;
}

#dedicate{
    max-width: 2%;
    position: absolute;
}

.social-media-icons {
  /* float:left; */
  margin-right:6px;
  color:#eca9cb
 }

 <style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-mail {
  color:#eca9cb;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #eca9cb;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
</style>

/* .lavender-webring-container {
  all: unset;
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-size: 1.125rem;
}
.lavender-webring-description {
  margin-block-end: 0.5em;
}
.lavender-webring-site-links {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}
.lavender-webring-prev-site a::before {
  content: "←";
  margin-inline-end: 1ch;
}
.lavender-webring-next-site a::after {
  content: "→";
  margin-inline-start: 1ch;
}

.sleepy-zone-webring-container {
  all: unset;
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-size: 1.125rem;
}
.sleepy-zone-webring-description {
  margin-block-end: 0.5em;
}
.sleepy-zone-webring-site-links {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}
.sleepy-zone-webring-prev-site a::before {
  content: "←";
  margin-inline-end: 1ch;
}
.sleepy-zone-webring-next-site a::after {
  content: "→";
  margin-inline-start: 1ch;
} */
